%form{method: 'get', action: url('/')}
  %input{name: 'q', type: 'text', size: 40, autocomplete: 'off', placeholder: 'Query...'}
  %button{type: 'submit'} Find

- if query
  %h2
    = query

- tuples.each do |t|
  = Haml::Engine.new(File.read('views/_tuple.haml')).render(Object.new, tuple: t)
