* {
  font-family: monospace;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: white;
  list-style: none;
}
.body {
  margin: 1em;
}
.slots > li, .par {
  margin-top: 1em;
}
a, a:hover, a:visited {
  color: #369;
}
input, button, textarea, select {
  padding: .2em .4em;
  border: 1px solid black;
  display: block;
  resize: none;
}
textarea {
  width: 30em;
  height: 4em;
}
label {
  display: block;
  margin-top: .5em;
}
button {
  margin-top: .5em;
}
.inline input, .inline button, .inline select, .inline label {
  display: inline-block;
  margin-top: 0;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
th {
  text-align: left;
}
td, th {
  vertical-align: top;
  padding-right: 2em;
}
fieldset, form {
  display: inline;
}
.flash {
  color: green;
  background: lightgreen;
  padding: .5em;
}
